<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button routerLink="/home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/recipe">
        <ion-icon name="book-outline"></ion-icon>
        <ion-label>Recipe</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/scan">
        <ion-icon name="scan"></ion-icon>
        <ion-label>Scan</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
