<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="ion-padding">Hello world!!!</h1>
  <p class="ion-padding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim explicabo ipsam minus, nam nisi repellat soluta? Aliquid architecto aspernatur commodi consequatur corporis delectus dignissimos dolorum eum facere facilis, harum incidunt ipsam laborum libero minima, minus numquam odit officiis praesentium quod sapiente, unde voluptas voluptates? Eveniet illo nesciunt officiis quos repudiandae!</p>
  <p class="ion-padding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ipsa repudiandae tempore ut? Adipisci animi architecto cupiditate dolor dolorem doloremque enim, esse magni nobis numquam odit pariatur sunt vitae voluptatibus?</p>
  <p class="ion-padding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium amet aperiam asperiores distinctio, dolor eveniet ipsam iste itaque nam non, obcaecati pariatur placeat provident quis quisquam ratione similique sit sunt unde vel velit vitae? Amet cum doloribus eligendi eveniet fuga iste magnam repellendus sequi sunt tempora, vel vero?</p>
</ion-content>
